header {
  display: flex;
  flex-direction: column;
  background-color: #aaccb1;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #aaccb1;
  margin-top: 10px;
  padding-left: 10px;
}

footer a {
  padding-top: 10px;
}

footer p {
  padding-bottom: 1px;
}

main {
  min-height: 80vh;
  background-color: #d3e2b6;
  flex: 1;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  margin: 0 auto;
  padding-bottom: 100px;
}

section {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

aside {
  display: flex;
  flex-direction: column;
  background-color: #c3dbb4;
  padding-left: 10px;
  width: 150px;
}
